
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

venv/
__pycache__/
*.pyc
eqe.db
*.spec
EQE_Backend/build/
EQE_Backend/dist/


node_modules/
eqe-frontend/node_modules/


dist_electron/
eqe-frontend/dist_electron/



.env
.env.local